{% extends "globals/base_form.html" %}

{% block extra_css %}
<link  href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css"/>
<link  href="{{ static('assets/plugins/custom/Editor-2.0.8/css/editor.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
{{ externaltourform.media.css }}
{% endblock extra_css %}

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
<!--will call parent contents -->
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('schedhuler:jobneedexternaltours') }}?template=true" class="pe-3">Tours</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">External Tour Form</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->


<!------ BEGIN FORM TITLE ------->
{% block form_title %}
External Tour
{% endblock form_title %}
<!------ END FORM TITLE -------->



{% block breadcumbactions %}
<button class="btn btn-secondary dropdown-toggle" type="button" id="id_actions" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#" id="id_attachment"><i class="fas text-white fa-paperclip"></i> &nbsp;Attachment</a></li>
</ul>
{% endblock breadcumbactions %}


<!--------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
<div class="alert alert-danger" id="nonfield_errors"role="alert" style="display:none">
    <strong>Error</strong> <span></span>
</div>
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->
{% block popup_alerts %}
    {% call general_popup(title='Checklist Details <i class="fas text-white fa-tasks ch4"></i>', popup_id="id_checklistdetails", modal_size='modal-xl') %}
        <div class="modal-body">
            <table class="display cell-border" style="width:100%" id="tabChecklistDetails"></table>
        </div>
        
    {% endcall  %}
    {% call general_popup(title='Attachment Details <i class="fas text-white fa-paperclip ch4"></i>', popup_id="id_attachmentdetails", modal_size='modal-xl') %}
        <div class="modal-body">
            <table class="display cell-border" style="width:100%" id="tabAttachmentDetails"></table>
        </div>
        
    {% endcall  %}
{% endblock %}
{% block base_script %}

{% endblock base_script %}

{% block form %}
<form action="" method="post" id="externaltourform">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="{{ externaltourform.ctzoffset.name }}" id = "{{ externaltourform.ctzoffset.auto_id }}" value="-1">
    <div class="row mb-3 gy-3">
        <div class="col-md-6">
            <input type="hidden" name="tour_frequency" id="id_tourfrequency" value="{{ externaltourform.instance.other_info['tour_frequency'] }}">
            <input type="hidden" name="israndom" id="id_israndom" value="{{ externaltourform.instance.other_info['is_randomized'] }}">
            <input type="hidden" name="breaktime" id="id_breaktime" value="{{ externaltourform.instance.other_info['breaktime'] }}">
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.jobdesc.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.jobdesc }}
                </div>
            </div>
            <div class="input-group mb-6">
                <div class="col-md-4">
                    <label class="required">Assign to:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name={{ externaltourform.assign_to.name }}
                            id="id_peopleradio" value="PEOPLE" checked
                            onchange="showHideSelectField('PEOPLE')">
                        <label class="form-check-label" for="{{ externaltourform.assign_to.auto_id }}">People</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name={{ externaltourform.assign_to.name }}
                            id="id_groupradio" value="GROUP" onchange="showHideSelectField('GROUP')">
                        <label class="form-check-label" for="{{ externaltourform.assign_to.auto_id }}">Group</label>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3 people">
                <div class="col-md-4">
                    {{ externaltourform.people.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.people }}
                </div>
            </div>
            <div class="input-group mb-3 pgroup">
                <div class="col-md-4">
                    {{ externaltourform.pgroup.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.pgroup }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.jobstatus.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.jobstatus }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.scantype.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.scantype }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.priority.label_tag() }}
                </div>  
                <div class="col-md-8">
                    {{ externaltourform.priority }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.gpslocation.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.gpslocation }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.plandatetime.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.plandatetime }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.expirydatetime.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.expirydatetime }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.gracetime.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.gracetime }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.starttime.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.starttime }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.endtime.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.endtime }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.performedby.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.performedby }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ externaltourform.ticketcategory.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ externaltourform.ticketcategory }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock form %}


{% block extras %}
<div class="row mb-3 card p-4">
    <table width="100%" class="table">
        <tbody>
            <tr>
            <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Total time in shift: </span></td>
            <td style="padding:4px;width:200px;" style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblSTime">--</span></td>
            <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Travel time: </span></td>
            <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblTravelTime">--</span></td>
            <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Break Time: </span></td>
            <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblBreakTime">--</span></td>
            <tr>
            <tr>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Available time: </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblRTime">--</span></td>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Total distance: </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblDistance">--</span></td>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Random Tour: </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblIsRTour">--</span></td>
            <tr>                    
            <tr>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Time spent at site: </span></td>
                <td style="padding:4px;width:200px;" style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblSiteTime">--</span></td>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Avg. speed: </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblSpeed">--</span></td>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Tour Frequency </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblTourFrequency">--</span></td>
            <tr>
        </tbody>
    </table>
    <br>
    <br>
    <div class="sitecheckpoints">
        <h4 class="card-title modal-heading">
            Tour Details &nbsp;<i class="fas text-white fs-3 text-primary fa-directions"></i>
        </h4><br>
        <table id="external_tour" class="display cell-border" style="width:100%"></table>
        <br>
        <table class="display cell-border" style="width:100%" id="tabTouranswers"></table>
    </div>
</div>
<div class="row googleMaps">
    <div id="d2Map" style="width:100%;height:400px;background:#f1f1f1"></div>
</div>
{% endblock extras %}

{% block ajax_page_actions %}
<div class="form-actions">
    {% if externaltourform.instance.jobstatus == "('ASSIGNED',)" %}
        {% if externaltourform.instance.id %}
        <button type="button" id="submitInternalTour" form="externaltourform" class="btn btn-sm btn-primary2 btn-hover-scale">
        Update Tour
        </button>
        <button type="button" onclick="deleteMainJob(this)" data-id="{{ externaltourform.instance.id }}" id="deleteAttd"
            class="btn btn-sm btn-danger btn-hover-scale">
            Delete&nbsp;<i class="fas text-white fa-trash-alt"></i>
        </button>
        {% else %}
            <button type="submit" form="externaltourform" class="btn btn-sm btn-primary2 btn-hover-scale">
                Save Tour&nbsp;<i class="fas text-white fa-cloud-upload-alt"></i>
            </button>
        {% endif %}
    {% endif %}
</div>
{% endblock ajax_page_actions %}


{% block extra_scripts %}
{{ externaltourform.media.js }}
<script src="{{ static('assets/plugins/custom/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/plugins/custom/DataTables/Select-1.3.4/js/dataTables.select.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/plugins/custom/Editor-2.0.8/js/dataTables.editor.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/plugins/custom/Editor-2.0.8/js/editor.select2.js') }}" type="text/javascript"></script>
<script>
    //FOR GLOBAL VARIABLE TO BE AVAILABLE BELOW SCRIPTS
    var _cronDates   = [];
    var _shiftMinute = 0;
    var _fbreaktime  = '--';
    var _fduration   = '--';
    var _fdistance   = '--';

</script>   
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3PUZCB7u2PiV8whHeAshweOPIK_d690o&libraries=places,marker&loading=async&callback=initGoogleMaps"></script>
<script src="{{ static('assets/js/overlapping_marker_spiderfier.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/js/schd_ext_tour_form.js') }}" type="text/javascript"></script>

<script>
    //set the variables which are gonna used in attachment.js file for fetching attachments against the owner
    var attachmentParams = {
        attachmentUrl  : '{{ url("activity:attachments") }}',
        attachmentOwner: '{{ externaltourform.instance.uuid }}',
        csrf           : '{{ csrf_token }}',
        ownername      : "Jobneed",
        folderType     : 'externaltour',
        media_url      : '{{ MEDIA_URL }}',
        peopleid       : "{{ request.user.id }}"
    }
</script>
<script src="{{ static('assets/js/local/attachment.js') }}" type="text/javascript"></script>
<script>
var asgdsites_table;
var checklistdetails;
var attachmentDetails;
var ajaxData = {};
var selected;
var parentTable;
var parent_id;
var childTable;
var childEditor;
var parentEditor;
var israndom = "{{ externaltourform.instance.other_info['is_randomized'] }}";
    function showHideSelectField(val) {
        if (val == "PEOPLE") {
            //$("#aatopdiv").show();
            $(".people").show();
            $("#id_peopleradio").attr('checked', 'checked')
            $(".pgroup").hide();
            $("#id_pgroup").val(1)
        } else {
            //$("#aatopdiv").hide();
            $(".pgroup").show();
            $("#id_groupradio").attr('checked', 'checked')
            $(".people").hide();
            $("#id_people").val(1)
        }
    }

    function showCpDetails(id){
        $('#id_checklistdetails').modal('show')
        ajaxData.jobneedid=id
        ajaxData.action='checklist_details'
        checklistdetails.ajax.reload()
    }

    function showAttachmentDetails(id, from){
        
        $('#id_attachmentdetails').modal('show')
        ajaxData.id=id
        ajaxData.action = from === 'jobneed' ? 'getAttachmentJobneed' : 'getAttachmentJND' 
        attachmentDetails.ajax.reload()
    }

    function calculate_tour_details(data, routeFreq){
        console.log('tour_details',data)
        console.log('route frequency',routeFreq)
        d2ClearMarker()
        calculateAndDisplayRoute(data, routeFreq)
    }
    //display readable form of gpslocation
    $('#id_gpslocation').val("{{ externaltourform.instance.geojson['gpslocation'] }}")

    var googleMapsLoaded = false;

    function initGoogleMaps() {
        googleMapsLoaded = true;
        d2InitializeMap();
    }

    function d2InitializeMap() {
        if (!googleMapsLoaded) {
            setTimeout(d2InitializeMap, 100);
            return;
        }

        var directionsRenderer = new google.maps.DirectionsRenderer({
            suppressMarkers: true,
        
        });

        d2map = new google.maps.Map(document.getElementById("d2Map"), {
            zoom: 3,
            center: new google.maps.LatLng(23.248917, 77.651367),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapId: "DEMO_MAP_ID",
        });


        d2oms = new OverlappingMarkerSpiderfier(d2map, {
            markersWontMove: true,
            markersWontHide: true,
            keepSpiderfied: true,
            nearbyDistance: 10,
            legWeight: 5,
        });

    }

    $(document).ready(() => {
        // Disable checkboxes
        $("input[type='checkbox']").prop("disabled", true);

        // Disable text fields
        $("input, textarea").prop("disabled", true);

        // Disable select2 fields (assuming select2 has been initialized)
        $(".django-select2, .form-select").select2({"disabled": 'readonly'})
        
        //disabled fields
        if("{{ request.user.is_superuser }}" !== 'True'){
            $("input, textarea, select").attr('disabled', "disabled")
        }

        if (googleMapsLoaded) {
        d2InitializeMap();
        }

        //set ctzoffset
  	    $("#id_ctzoffset").val(-new Date().getTimezoneOffset())

        //toggle people and pgroup field based on radio button value
        if ('{{externaltourform.instance.id}}' === 'None') {
            showHideSelectField('PEOPLE')
        }else{
            var assignto = '{{externaltourform.instance.people_id}}' == '1' ? "GROUP" : "PEOPLE"
            showHideSelectField(assignto)
        }
        //display gpslocatoin in readable format
        $('#id_gpslocation').val("{{externaltourform.instance.gpslocation.y}}, {{externaltourform.instance.gpslocation.x}}")

        //Datatable
        asgdsites_table = $("#external_tour").DataTable({
            ajax:{
                url:"{{ url('schedhuler:jobneedexternaltours') }}?action=checkpoints&parent_id={{ externaltourform.instance.id }}"},
            columns:[
                {data:"id", title:'id',visible:false},
                {data:"seqno", title:'Slno'},
                {data:"plandatetime", title:'Plan Datetime'},
                {data:"expirydatetime", title:'Expiry Datetime', visible:false},
                {data:"performedtime", title:'Performed Datetime',visibile:false},
                {data:"bu__solid", title:'Sol Id'},
                {data:"bu__buname", title:'Checkpoint'},
                {data:'qset__qsetname', title:'Checklist'},
                {data:'gracetime', title:'Gracetime', visible:false},
                {data:'jobstatus', title:'Status'},
                {data:'bu__gpslocation', visible:true, title:"GPS", render:function(data, type, row, meta){
                        let coords = typeof data === 'string' && data.length > 0 ? JSON.parse(data): 'NONE'
                        if(coords !== 'NONE'){
                            let lat = coords['coordinates'][1]
                            let lng = coords['coordinates'][0]
                            return `<a href="https://www.google.com/maps?q=${lat},${lng}" target="_blank">${lat},${lng}</a>`
                        }return coords
                    }
                },
                {data:'gps', visible:false, title:"Performed At", render:function(data, type, row, meta){
                    if (row.jobstatus == 'COMPLETED'){
                        let coords = typeof data === 'string' && data.length > 0 ? JSON.parse(data): 'NONE'
                        if(coords !== 'NONE'){
                            let lat = coords['coordinates'][1]
                            let lng = coords['coordinates'][0]
                            return `<a href="https://www.google.com/maps?q=${lat},${lng}" target="_blank">${lat},${lng}</a>`
                        }return coords
                    }
                    else{
                        return '--';
                    }
                    }
                },
                {data:'distance', title:'Distance',  defaultContent:null, render:function(data, type, row, meta){
                        return data === null ? '--' : data + ' km'
                    }
                },
                {data:'duration', title:'Duration', defaultContent:null, render:function(data, type, row, meta){
                        return data === null ? '--' : data
                    }
                },
                {title:'Attachments',data:'attachmentcount', defaultContent:null, render:function(data, type, row, meta){
                    if (data>0){
                        return `<a href="javascript:void(0)"  onClick='showAttachmentDetails(${row['id']}, "jobneed")'>${data}&nbsp;<i class="fas text-primary2 fs-3 fa-paperclip"></i></a>`}
                    else {
                        return 'N/A';
                    }
                    }
                },
                {title:'Details',data:null, defaultContent:null, render:function(data, type, row, meta){
                        return  `<button class="btn btn-link p-0" onClick='showCpDetails(${row['id']})'>View Details</button>`
                    }
                },
                /*{title:'ctzoffset' data:'ctzoffset',visible:false}*/
            ],
            ordering:false,
            deferRender: true,
            columnDefs:[
                {targets:1, data:'seqno', render:function(data, type, row, meta){
                        return parseInt(data)
                    }
                },
                {targets:2, render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)}
                },
                {targets:3, render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)}
                },
                {targets:4, render:function(data, type, row, meta){
                    return data ? convert_to_local(type, data, row) : '--'}
                }
            ],
			responsive : true,
            dom: `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            buttons:[dataTablesColumnVisibilityConfig()],
            createdRow:function(row, data, dataIndex){
                        if(data['alerts'] === true){
                            $(row).addClass('text-danger')
                        }
                    },
            initComplete: function( settings, json ) {
            if('{{ externaltourform.instance.id }}' !== 'None'){
                console.log('initcomplete function',asgdsites_table.rows().data().toArray())
                data = asgdsites_table.rows().data().toArray()
                freq = "{{ externaltourform.instance.other_info['tour_frequency'] }}"
                calculate_tour_details(data, freq)
            }
        }

        })


        if('{{externaltourform.instance.id}}' !== 'None'){
            reCaclTime()
        }
        $('#id_checklistdetails').on('shown.bs.modal', function (event) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            $('#id_checklistdetails').modal({
                keyboard: false
            })
            checklistdetails = $("#tabChecklistDetails").DataTable(
            {
                ajax:{
                    url:`{{ url("schedhuler:jobneedexternaltours") }}`,
                    data:function(d){
                    return  $.extend(d, ajaxData);
                    }
                },
                scrollY: 300,
                responsive:true,
                retrieve: true,
                columns:[
                    {data:'id', visible:false},
                    {data:'question__quesname', title:'Question'},
                    {data:'answertype', title:'Type'},
                    {data:'min', title:'Min'},
                    {data:'max', title:'Max'},
                    {data:'options', title:'Options'},
                    {data:'alerton', title:'Alert On'},
                    {data:'answer', title:'Answer'},
                    {data:'ismandatory', title:'Mandatory'},
                    {data: null, title:'Attachments', render:function(data, type, row, meta){
                        return `<a href="javascript:void(0)"  onClick='showAttachmentDetails(${row['id']}, "jnd")'>View</a>`
                    }
                    }
                ],
                ordering:false,
                createdRow:function(row, data, dataIndex){
                        if(data['alerts'] === true){
                            $(row).addClass('text-danger')
                        }
                    },
                deferRender: true,
                scrollX: true,
                dom: `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
                <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
                buttons:[],

            })
            
        })
        $('#id_attachmentdetails').on('shown.bs.modal', function (event) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                $('#id_attachmentdetails').modal({
                    keyboard: false
                })
                attachmentDetails = $("#tabAttachmentDetails").DataTable(
                {
                    ajax:{
                        url:`{{ url("schedhuler:jobneedexternaltours") }}`,
                        data:function(d){
                        return  $.extend(d, ajaxData);
                        }
                    },
                    retrieve: true,
                    columns:[
                        { data: "id", visible: false },
                        {title:'SL No.', width:"5%", data:null, defaultContent:null, render:function (data, type, row, meta) { return meta.row  + 1; }
                        },
                        { data: "filepath",  width:"5%", title:'File', render:function (data, type, row, meta) { return `<img src="{{ MEDIA_URL }}${row.filepath.replace('youtility4_media/', "")}/${row.filename}" class="card-img-top" target="_blank" alt="" style="width: 30px;height: 30px;">`; }
                        },
                        { data: "filename",  title:'File Name' },
                        {data:'location',title:"GPS Location", render:function(data, type, row, meta){
                    if (row.filename !== 'NONE'){
                        let coords = typeof data === 'string' && data.length > 0 ? JSON.parse(data): 'NONE'
                        if(coords !== 'NONE'){
                            let lat = coords['coordinates'][1]
                            let lng = coords['coordinates'][0]
                            return `<a href="https://www.google.com/maps?q=${lat},${lng}" target="_blank">${lat},${lng}</a>`
                        }return coords
                    }
                    else{
                        return '--';
                    }
                    }
                },
                        {data:"datetime",title:'Datetime'},
                        { data: null, width:"5%", defaultContent:null, title:"Action", render:function(data, type, row, meta ){
                        let file = `{{ MEDIA_URL }}${row.filepath.replace('youtility4_media/', "")}/${row.filename}`
                        return `<a href="${file}" target="_blank" class=""><i class="ch4 fas fa-eye"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${file}" download="${row.filename}"><i class="ch4 fas fa-save"></i></a>`;
                        } },
                    ],
                    ordering:false,
                    deferRender: true,
                    columnDefs:[
                        {targets:5,render:function(data,type,row,meta){
                            return convert_to_local(type,data,row)}
                            }
                    ],
                    scrollX: true,
                    dom: `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
                    <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
                    buttons:[],


                }
            )
            
        })
    })
</script>
{% endblock extra_scripts %}