{% extends "onboarding/client_onboarding/base_wizard_form.html" %}

<!----------- BEGIN FORM MESSGES --------------->
{% block form_msgs %}

	{% for msg in get_msgs(request) %}
	<div class="alert {% if msg.tags %} {{ msg.tags }} {% endif %} " id="alert_msg" style="width:73%; ">
		{{ msg }}
		<button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
    
{% endblock form_msgs %}
<!----------- END FORM MESSGES ----------------->

<!------ BEGIN FORM TITLE ------->
{% block form_title %}
Create People group
{% endblock form_title %}
<!------ END FORM TITLE -------->

<!--------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
	{% if wizard.form.non_field_errors() %}
	<div id="non_field_error" class="alert alert-danger" style="width: 73%;">
		{% for error in wizard.form.non_field_errors() %}
		{{ error }}
		{% endfor %}
		<button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->

{% block custom_form %}
        <!--groupname-->
        <label class="required col-form-label col-md-2 col-sm-2 text-sm-right" for="id_pgroup_form-groupname">Code:
			<span class="material-icons-outlined h-19px" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" style="vertical-align: middle; font-size: 19px;"
			title="Give the name to the group you want to create." >
			info
			</span>
		</label>
        <div class="col-md-4">
            {{ wizard.form.groupname }}
        </div>
        <!----------- Checkboxes Rendering Last --------------------->
        <div class="booleans col-md-4 d-flex justify-content-sm-between mt-5">
            <label for={{ wizard.form.enable.id_for_label }}
                class="form-check-label bool col-form-label me-5 text-sm-right">{{ wizard.form.enable }}
                &nbsp{{ wizard.form.enable.label }}</label>
        </div>
    <input type="submit" value='Submit' class="btn btn-sm btn-success"/>
{% endblock custom_form %}

