var donutChartOptions = {
    series: _alertChartSeries && _alertChartSeries.length > 0 ? _alertChartSeries : undefined,
    chart:{
        type:'donut',
        height:"260px",
        width:"100%",
        toolbar:{
          show:true
        },
        zoom: {
      enabled: true
    },
    events: {
                dataPointSelection: function(event, chartContext, config) {
                let filters = {from:_from_pd,  to:_to_pd}
                
                switch(config.dataPointIndex){
                  case 0:
                  window.open('{{ url("schedhuler:jobneedtasks") }}?template=true', '_blank');
                  filters['alerts']='TASK'
                  break;
                  case 1:
                  window.open('{{ url("activity:ppmjobneed") }}?template=true', '_blank');
                  filters['alerts'] = 'PPM'
                  break;
                  case 2:
                  window.open('{{ url("schedhuler:jobneedtours") }}?template=true', '_blank');
                  filters['alerts'] = 'TOUR'
                  break;
                  case 3:
                  window.open('{{ url("schedhuler:jobneedexternaltours") }}?template=true', '_blank');
                  filters['alerts'] = 'ROUTEPLAN'
                  break;

                }
                localStorage.setItem('alertsFilters', JSON.stringify(filters))
                }
  }

    },
  responsive: [{
    breakpoint: 480,
    options: {
      legend: {
        position: 'bottom',
        offsetX: -10,
        offsetY: 0
      }
    }
  }],
    noData: {
    text: 'No data available.',
    align: 'center',
    verticalAlign: 'middle',
    offsetX: 0,
    offsetY: 0,
    style: {
      color: 'red',
      fontSize: '14px',
      fontFamily: undefined
    }
  },
  
    responsive:[{
    breakpoint: 480,
    options: {
      legend: {
        position: 'bottom',
        offsetX: -10,
        offsetY: 0
      }
    }
  }],
  legend: {
    position: 'right',
    offsetY: 40
  },
  plotOptions:{
    pie: {
      donut: {
        label: {
          show: false,
          total: {
            showAlways: false,
            show: false
          }
        }
      }
    }
  },
  labels:['Task Alerts', 'PPM Alerts', 'Tour Alerts', 'Route Alerts']

}

