{% extends "globals/base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Capability List
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!---- BEGIN PAGE TITLE ------>
{% block page_title %}
Capability List
{% endblock page_title %}
<!----- END PAGE TITLE -------->

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Capability List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

<!-------------------------------------------- BEGIN BU TABLE ------------------------------------------->
{% block table %}
    <!------------------ BEGIN TABLE --------------------->
    <table id="cap_table" class="display compact compact hover cell-border" style="width:100%">
    </table>
    <!------------------ END TABLE --------------------->

{% endblock table %}
<!------------------ --------------------------END BU TABLE ------------------------------------------------->

{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" tabindex="-1" aria-hidden="true"  aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-cap">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content" id="cap_content">
		</div>
	</div>
</div>
{% endblock popup_alerts %}

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table             = null;
	const modal_id        = "#modal-cap"
	const modalcontent_id = "#cap_content"
	const formFilter      = "#cap_filter"
	const table_id        = "#cap_table"
	const formid          = "#id_capform"
	const urlname         = "{{ url('peoples:capability') }}"
	const viewname        = "Capability"
	const rowlink         = "a.cap-link"
	
	$(document).ready(function () {
		new ClipboardJS('.btn-copy');
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$(formFilter).submit();
			}
		});
        //beforeSend of capability ajax request 
        function capBeforeSend(){
            $(modal_id).modal("show");
        }
		//datatable initialization
        table = $(table_id).DataTable({
			//orderCellsTop: true,
			ajax: {
                url    : '{{ url("peoples:capability") }}?action=list',
            },
			deferRender: true,
			responsive : true,
			fixedHeader: true,
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            ordering:false,
			columns     : [
				{'data': 'id', },
                { "data": "capscode", title:"Code" },
                { "data": "capsname", title:'Name' },
                { "data": "cfor", title:'Capability For' },
                { "data": "parent__capscode", title:'Belongs to'},
            ],
			columnDefs:[
				{targets:0, data: "id", visible:false, searchable:false, orderable:false },

				{
					targets: 1,
					data   : 'tacode',
					render : function ( data, type, row, meta ) {
						return `<a href="#" class="cap-link" data-id=${row['id']} data-rowid=${meta.row}>${data}</a>`
					}
				}
			],
			buttons:[
					dataTablesExcelConfig(
                    title = `Site: {{request.user.bu.buname}}\n Task List`,
                    columns = [1,2,3,4],
                    filename="task_list"
                ),

				{
					text:`Add New ${viewname} &nbsp;<i class='fas text-dark fa-plus'></i></a>`,
					//action for add_new_button 
					action: function(e, dt, node, config){
                        const params = {
                            'modal_id'    : modal_id,
                            'url'         : `${urlname}?action=form`,
                            'beforeSend'  : capBeforeSend }
						fire_ajax_get(params)
						.done((data, status, xhr) => {
                            $(`${modal_id} .modal-content`).html(data.html_form)
                        })
						.fail((xhr, status, error) => {
							show_error_alert("Something went wrong!")
						})
					}
				}
			]
		})

		
		//submit form
		$(modal_id).on('submit', formid, function(e) {
			var form = $(this);
			e.preventDefault()
			const params = { url:urlname, modal:true } //capability view
			const id = $("#pk").val() //form instance id
			var payLoad = {formData:form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}'}//payload for post request
			if(id != 'None'){
				var newPayLoad = {...payLoad, 'pk':id}
				payLoad = newPayLoad
			}
			fire_ajax_form_post(params, payLoad)
			.done((data, status, xhr) => { //function to submit post request
				console.log("data ", data)
				$(modal_id).modal("hide");
				if(id!=='None'){
					table.row('.selected').data(data.row).draw()
				}else{
					table.row.add(data.row).draw()
				}
				show_successful_save_alert(update =  id != 'None' ? true : false)
			})
		})

		//update row (form-view)
		$("#cap_table tbody").on('click', 'tr', function(e) {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			} else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
			var d = table.row( this ).data();
			e.preventDefault();
			var id = d.id
			if (!(id)){ return }
			const params = {
				'modal_id'    : modal_id,
				'url'         : `${urlname}?id=${id}`,
				'beforeSend'  : capBeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$(modalcontent_id).attr('data-form', 'update')
				$(`${modal_id} .modal-content`).html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
		})
	}); //END document.ready()

	//delete ajax request 
	function isCapDeleted(id){ 
		const params = {url:`${urlname}?action=delete&id=${id}`, 'beforeSend':function () {}}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
			return false
		})
	}

	//delete capability 
	function deleteCapability(elemt){
		var id = $(elemt).attr("data-id");
		show_alert_before_delete(viewname)
		.then((result) => {
			if(result.isConfirmed){ //delete requested by user
				status = isCapDeleted(id) //fire's request
				console.log("status ", status)
				if(status){
					show_successful_delete_alert() //defined in customjs
					$(modal_id).modal("hide")
					//delete row from table
					table.row('.selected').remove().draw()
				}else{
					show_error_alert('Something went wrong!');
				}
			}
		})
	}
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS ------------------------------->
