{% extends 'globals/base_list.html' %}

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Site Groups</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Site Groups
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!---- BEGIN PAGE TITLE ------>
{% block page_title %}
Site Groups
{% endblock page_title %}
<!----- END PAGE TITLE -------->

{% block table %}
<table id="tabSitegroup" class="display cell-border compact hover"></table>
{% endblock table %}

{% block extra_scripts %}
<script>

    var formUrl = "{{ url('peoples:sitegroup') }}"
    $(document).ready(() => {
        table = $("#tabSitegroup").DataTable({
            ajax:{
                url: "{{ url('peoples:sitegroup') }}?action=list",
                data:function(d){
                    d.fields = ['id', 'groupname', 'enable']
                }
            },
            serverSide:true,
            fixedHeader:true,
            search    : {return: true},
            lengthMenu: [250,500,750,1000],
            pageLength:500,
            dom       : `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			             <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            columns   : [
                { data: "id", visible:false, searchable:false, orderable:false },
                { 
                    data: "groupname",
                    render:function(data, type, row, meta){
                        return `<a href=${formUrl}?id=${row['id']}>${data}</a>`
                    },
                    title: "Group Name" 
                },
                {data: 'enable', title: 'Enable', orderable:false, render:function(data, type, row, meta){
                    if (data === true){ return '<i class="bi bi-check-circle-fill text-success"></i> Active'}
                    else if(data === false){ return '<i class="bi bi-x-circle-fill text-danger"></i> Inactive'}
                    else{ return data.toString() }				
				}
                }
            ],
            createdRow:function(row, data, dataIndex){
				if(data['enable'] === false){
					$(row).addClass('disabled-record text-white')
				}
			},
            buttons:[
                dataTablesPDFConfig(
                    title = `Site: {{request.user.bu.buname}}\n Site Group List`,
                    columns = ':visible',
					filename = "SiteGroup_list"
                ),
                dataTablesExcelConfig(
                    title = `Site: {{request.user.bu.buname}}\n Site Group List`,
                    columns = ':visible',
					filename = "SiteGroup_list"
                ),
                {
                    text     : `Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className: "btn btn-sm border border-primary btn-light-primary add_new_sitegroup",
                    action:function(e, dt, node, config){
                        location.href = '{{ url("peoples:sitegroup") }}?action=form'
                    }
                }
            ]
        })
    })
</script>
{% endblock extra_scripts %}