{% extends "globals/base_form.html" %}

{% block extra_css %}
<link  href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css"/>
{{ sitegrpform.media.css }}
{% endblock extra_css %}

{% block form_title %}
Site Group
{% endblock form_title %}

<!---- BEGIN PAGE TITLE ------>
{% block page_title %}
Site Group Form
{% endblock page_title %}
<!----- END PAGE TITLE -------->

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
<!--will call parent contents -->
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('peoples:sitegroup') }}?template=true" class="pe-3">Site Groups</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Site Group Form</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->

<!--------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
<div class="alert alert-danger" id="nonfield_errors"role="alert" style="display:none">
    <strong>Error</strong> <span></span>
</div>
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->

{% block form %}
<form action="{{ url('peoples:sitegroup') }}" method="post" id="sitegrp_form">
    <input type="hidden" name="pk" id="id_pk"value="{{ sitegrpform.instance.id }}">
    <input type="hidden" name="{{ sitegrpform.ctzoffset.name }}" id = "{{ sitegrpform.ctzoffset.auto_id }}" value="-1">
    {{ sitegrpform.identifier }}

    <div class="row mb-3 gy-3">
        <div class="col-sm-2">
            {{ sitegrpform.groupname.label_tag() }}
        </div>
        <div class="col-sm-6">
            {{ sitegrpform.groupname }}
        </div>
        <div class="col-sm-auto">
            <div class="form-check form-switch form-check-custom form-check-solid">
                {{ sitegrpform.enable }}
                <label for="{{ sitegrpform.enable.id_for_label }}" class="form-check-label">{{ sitegrpform.enable.label }}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ sitegrpform.grouplead.label_tag() }}
        </div>
        <div class="col-md-6">
            {{ sitegrpform.grouplead }}
        </div>
    </div>
</form><br><hr><br>
{% endblock form %}

{% block ajax_page_actions %}
    <div class="form-actions">
        {% if sitegrpform.instance.id %}
        <button type="submit" id="submitTour" form="sitegrp_form" class="btn btn-sm btn-primary2 btn-hover-scale">
            Update&nbsp;<i class="fas text-white fa-cloud-upload-alt"></i>
        </button>
        <button type="button" id="clearForm" class="btn btn-sm btn-secondary btn-hover-scale">
            Clear&nbsp;<i class="fas  fa-times-circle"></i>
        </button>

        <button type="button" onclick="deleteSiteGroup()" data-id="{{ sitegrpform.instance.id }}" id="deleteAttd"
            class="btn btn-sm btn-danger btn-hover-scale">
            Delete&nbsp;<i class="fas text-white fa-trash-alt"></i>
        </button>
        {% else %}
        <button type="submit" form="sitegrp_form" class="btn btn-sm btn-primary2 btn-hover-scale">
            Save&nbsp;<i class="fas text-white fa-cloud-upload-alt"></i>
        </button>
        {% endif %}
    </div>
{% endblock ajax_page_actions %}

{% block extras %}
<div class="row">
<div class="card col-sm-6">
    <div class="card-header">
        <h3 class="card-title">
            All Sites&nbsp;<i class="fas text-white fa-layer-group ch4"></i>
        </h3>
        <div class="card-toolbar me-3">
            <select name="choice" id="custom_butype" style="width:50%" class="form-select form-select-solid"></select>
            <button type="button" id="btn_assign_sites" class="btn btn-sm btn-secondary btn-hover-scale">
                Assign&nbsp;<i class="fas  fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        
        <table id="all_sites" class="display cell-border compact hover nowrap">
        <thead>
                <tr>
                    <th class="select-checkbox"><input id="selectAllCheckBox" type="checkbox"></th>
                    <th></th>
                    <th>Site Name</th>
                    <th>Code</th>
                    <th>SOL ID</th>
                    <th>Belongs To</th>
                    <th>Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="card col-sm-6">
    <div class="card-header">
        <h3 class="card-title">
            Assigned Sites &nbsp;<i class="fas text-white ch4 fa-sm fa-paste"></i>
        </h3>
        <div class = 'd-none' id="distance_duration_button">
            <p>Total Distance: <span id="total_distance_display"></span></p>
            <p>Total Duration: <span id="total_duration_display"></span></p>
        </div>
    </div>
    <div class="card-body">
        <table id="assigned_sites"class="display cel-border compact hover nowrap">
            <thead>
                <tr>
                    <th></th>
                    <th>Site Name</th>
                    <th>Code</th>
                    <th>Sol ID</th>
                    <th id="deleteAll"><i class="fas text-light fa-trash-alt"></i></th>
                </tr>
            </thead>
        </table>
        <br>
        <div class="row googleMaps">
            <div id="d2Map" style="width:100%;height:400px;background:#f1f1f1"></div>
        </div>
    </div>
</div>
</div>
{% endblock extras %}

{% block extra_scripts %}
{{ sitegrpform.media.js }}
<script src="{{ static('assets/js/overlapping_marker_spiderfier.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/plugins/custom/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/js/sitegrp_map.js') }}" type="text/javascript"></script>



<script>
    var tabAllsites;
    var tabAssigned_sites;
    var isSitesAssigned;
    var submitUrl;
    var all_sites_response;
    var current_sel_butype = 'SITE';
    var urlname = "{{ url('peoples:sitegroup') }}"

    //populate_buidentifiers
    function populate_buidentifier(resp, id){
        var idfs = resp['idfs']
        for(let i = 0; i<idfs.length; i++){
            if($(id).find("option[value='" + idfs[i]['identifier__tacode'] + "']").length){}
            else{
            var newOption = new Option(idfs[i]['identifier__tacode'], idfs[i]['identifier__tacode'], false, false);
            $(id).append(newOption)
            }
        }
        $(id).val(current_sel_butype);
        //$(id).trigger('change');
    }

    //delete ajax request 
	function isSiteGrpDeleted(id){ 
		const params = {url:`${urlname}?action=delete&id=${id}`, 'beforeSend':function () {}
        }
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
			return false
		})
	}

    function loadAssignedSitesIfThereAny(table, id){
        const params = {url:`${urlname}?action=loadSites&id=${id}`, 'beforeSend':function(){}
        }
        fire_ajax_get(params)
        .done((data, status, xhr) => {
            if(xhr.status === 200){
                let table = $("#assigned_sites").dataTable().api();
				//table.rows.add(data['assigned_sites']).draw()
                var all_sites = tabAllsites.rows().data().toArray()
                var assigned_sites = tabAssigned_sites.rows().data().toArray()
                autoCheckSitesWhichAreAssigned(all_sites, assigned_sites)
			}
        })
    }

    function autoCheckSitesWhichAreAssigned(all_sites, assigned_sites){
        
        for(let i = 0; i<all_sites.length; i++){
            for(let j = 0; j<assigned_sites.length; j++){
                /*console.log(all_sites[i]['buname'] === assigned_sites[j]['buname'] && all_sites[i]['bucode'] === assigned_sites[j]['bucode'])*/
                if(all_sites[i]['buname'] === assigned_sites[j]['buname'] && all_sites[i]['bucode'] === assigned_sites[j]['bucode']){
                    tabAllsites.row(i).select()
                }
            }
        }
    }

    $(document).ready(() => {
        //onclick cleart the form
        $("#clearForm").click(() => {
            location.href = "{{ url('peoples:sitegroup') }}?action=form"
        })

        //set ctzoffset
        $("#id_ctzoffset").val(-new Date().getTimezoneOffset())

        //This function in js file resposible to render the map. 
        function waitForGoogleMaps(callback) {
            if (window.google && google.maps && google.maps.DirectionsRenderer) {
                callback();
            } else {
                setTimeout(() => waitForGoogleMaps(callback), 100);
            }
        }
        
        waitForGoogleMaps(d2InitializeMap);


        tabAllsites = $("#all_sites").DataTable({
            ajax:{
                url: "{{ url('peoples:sitegroup') }}?action=allsites",
                data:function ( d ) {
                    d.sel_butype = current_sel_butype;
                    d.fields = ['buid', 'buname', 'parent__buname', 'bucode', 'identifier__tacode', 'solid','gps'];
                    d.pk = $("#id_pk").val();
                },
                dataSrc:function(resp){
                    /*console.log(resp, typeof resp)*/
                    populate_buidentifier(resp, '#custom_butype');
                    return resp['data']
                }
            },
            responsive:true,
            fixedHeader:true,
            ordering: false,
            deferRender: true,
            columns:[
                {data:null, defaultContent: '', orderable:true, className: 'select-checkbox noVis', width: "2%"},
                {data: 'buid', visible:false, orderable:false, defaultContent: "", className:"noVis"},
                {data: 'buname', title: "Site Name"},
                {data: 'bucode', visible:false, title:'Code'},
                {data: 'solid', title: 'Sol Id', visible:false},
                {data: "parent__buname", title: "Belongs to"},
                {data: 'identifier__tacode', title: "Type"},
            ],
            select: {
                style:    'multi',
                selector: 'tr'
            },
            dom :  `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			<'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            buttons:[
                
                dataTablesColumnVisibilityConfig(),
            ],
            pageLength:25,
            lengthMenu: [14, 25, 50, 100, 500, 1000],
            initComplete:function(settings, json){
                if("{{ sitegrpform.instance.id }}" != 'None'){
                    loadAssignedSitesIfThereAny(tabAssigned_sites, "{{ sitegrpform.instance.id }}")
                }
            }

        })
        $("div.dtToolbar").html(``);
        
        //populate dropdown field
        $("#custom_butype").change(()=>{
            var butype = $("#custom_butype").val()
            if(butype !=  current_sel_butype){
                current_sel_butype = butype
                tabAllsites.ajax.reload()
            }
            
        })

        $('#selectAllCheckBox').on('click', function() {
            if ($('#selectAllCheckBox').is(':checked')) {
                tabAllsites.rows().select();
            }
            else {
                tabAllsites.rows().deselect();
            }
        });
        
        //populate_buidentifier(tabAllsites, '#custom_butype');

        //ON CLICK GRAB SELECTED AND POPULATE RIGHT TABLE
        $("#btn_assign_sites").click(() => {
            var selected_sites = tabAllsites.rows({'selected':true}).data().toArray()
            console.log(selected_sites)
            tabAssigned_sites.rows().remove().draw()
            tabAssigned_sites.rows.add(selected_sites).draw()

        })

        tabAssigned_sites = $("#assigned_sites").DataTable({
            fixedHeader: true,
            responsive: true,
            dom: `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			<'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            order: [[ 1, 'asc' ]],
            columns:[
                {data: 'buid', visible:false, orderable:false, className:"noVis",defaultContent: "", render:function(data, type, full, meta){
                    return data == undefined ? "" :data
                }
                },
                {data: 'buname', title: 'Site Name'},
                {data: 'bucode', title: 'Code', visible:false},
                {data: 'solid', title: 'Sol Id', visible:false},
                {data:function(row, type, val, meta){
                            return '<a href="#" onClick="return false;"><i class="fas text-white text-dark fa-trash-alt fs-3"></i></a>'
                    },
                defaultContent: '',
                orderable:false,
                className: "remove text-center noVis",
                targets:12,
                width: "5%"}
            ],
            buttons:[
                dataTablesPDFConfig(
                    title = `Site: {{request.user.bu.buname}}\n Assigned Sites`,
                    columns = [1,2,3],
					filename = "{{ sitegrpform.instance.groupname }}",
                    mode = "portrait"
                ),
                dataTablesExcelConfig(
                    title = `Site: {{request.user.bu.buname}}\n Assigned Sites`,
                    columns = [1,2,3],
					filename = "{{ sitegrpform.instance.groupname }}",
                    mode = "portrait"
                ),
                dataTablesColumnVisibilityConfig(),
                {
                    text: 'Map View Button', 
                    className: 'my-custom-button',
                    action: function (e, dt, node, config) {
                        calculate_distance_and_time(tabAssigned_sites,false,handleDistanceAndTimeData)
                        plotLocationsOnMap(tabAssigned_sites)
                    }
                }
            ],
            initComplete:function(settings, json){
            if("{{ sitegrpform.instance.id }}" !== 'None'){
                get_assigned_sites_data(tabAssigned_sites, "{{ sitegrpform.instance.id }}")
            }
            }        
        })
        //reduce size of search bar
        $(".dataTables_filter label > input").css('width', '16rem')
        
        if("{{ sitegrpform.instance.id }}" != 'None'){
            console.log('checkig...')
        }else{
            $("#assigned_sites_wrapper .dt-button").addClass('disabled')
        }
        //ON CLICK TRASH ICON REMOVE ROW
        $('#assigned_sites').on('click', '.remove', function () {
            var row = $(this).parents('tr');
            
            if ($(row).hasClass('child')) {
                table.row($(row).prev('tr')).remove().draw();
            }
            else{
                tabAssigned_sites
                    .row($(this).parents('tr'))
                    .remove()
                .draw();
            }
        });
        //ON CLICK DELETE ALL ASSIGNED SITES
        $("#deleteAll").click(() => {
            tabAssigned_sites.rows().remove().draw()
        })

        //submit form
		$("#sitegrp_form").on('submit', function(e) {
			var form = $(this);
			e.preventDefault()
            if(tabAssigned_sites.data().length){ Swal.fire({
                title: 'Sites Not Assigned!',
                text: "Do you forget to assign sites!",
                icon: 'warning',
                timer:2000
            })}
			
            const params = { url: "{{ url('peoples:sitegroup') }}", modal:false } 
			var payLoad =  {'formData':form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}', 'assignedSites': JSON.stringify(tabAssigned_sites.rows().data().toArray())}
            var isupdate = $("#id_pk")!=="" ?  false : true
            Swal.fire({
            title: "Submit?",
            text: "This will allocate the selected sites to the site Group being created!",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Submit'
            }).then((res) => {
                if (res.isConfirmed){
                 fire_ajax_form_post(params, payLoad)
                .done((data, status, xhr) => { //function to submit post request
                    show_successful_save_alert(update = isupdate)
                    window.setTimeout(function() {
                    window.location.href = `{{ url('peoples:sitegroup') }}?id=${data.pk}`;
                }, 2000);
                })   
                }
            })
			
		})
    })

    //delete sitegroup 
	function deleteSiteGroup(){
		var id = $("#id_pk").val()
		show_alert_before_delete('Site Group')
		.then((result) => {
			if(result.isConfirmed){ //delete requested by user
				status = isSiteGrpDeleted(id) //fire's request
				if(status){
					show_successful_delete_alert() //defined in customjs
                    location.href = "{{ url('peoples:sitegroup') }}?action=form"

				}else{
					show_error_alert('Something went wrong!');
				}
			}
		})
	}

</script>
{% endblock %}