{% extends "globals/base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Adhoc Task List
{% endblock card_title %}
<!----- END CARD TITLE -------->

{% block extra_css %}
{# <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> #}
{% endblock extra_css %}

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Task List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

<!-------------------------------------------- BEGIN Schedhuled Tour TABLE ------------------------------------------->
{% block table %}

<table id="adhoc_tasks" class="display compact cell-border" style="width:100%" >
</table>
{% endblock table %}

{% block extra_scripts %}
<script>
var table = null;
//if you want to modifiy here, then modify in custom.js initDateRange also
var from_pd = moment().subtract(7, 'days').format('YYYY-MM-DD');
var to_pd = moment().format('YYYY-MM-DD')

$(document).ready(function(){
    table = $("#adhoc_tasks").DataTable({
        ajax:{
            url: '{{ url("activity:adhoctasks") }}?action=list',
            data:function(d){
                        d.fields = ['id', 'plandatetime', 'jobdesc', 'qset__qsetname',
                        'performedby__peoplename', 'jobstatus', 'asset__assetname']
                        d.pd1 = from_pd,
                        d.pd2 = to_pd
                    }
        },
        pageLength:50,
        columns     : [
            { "data": "id", visible:false },
            { "data": "plandatetime" , title: "PlanDatetime"},
            { "data": "jobdesc" , title: 'Description'},
            { "data": "performedby__peoplename", 'title': 'Performedby'},
            { "data": "jobstatus", title: 'Status'},
            { "data": "asset__assetname", title: 'Asset/Smartplace'},
            { "data": "qset__qsetname", title: 'Question Set'},
        ],
        serverSide:true,
        fixedHeader:true,
        search    : {return: true},
        lengthMenu: [[10, 20, 30], [10, 20, 30]],
        columnDefs:[
            {targets:2, data: 'jobdesc',
            render:function(data, type, row, meta){
                var url= "{{ url('activity:adhoctasks') }}?template=true&id=" + row['id'];
                return `<a href=${url}>${data}</a>`
            }}
        ],
        dom:`<'row' <'col-sm-6 d-flex justify-content-start'<'customfields'>f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
        <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
        responsive : true,
        buttons:[
            {
                text:`Add New &nbsp;<i class='fas text-dark fa-plus'></i></a>`,
                action: function(e, dt, node, config){
                    window.location.href = "{{ url('activity:adhoctasks') }}?action=form";
                }
            }
        ]
    })

    //add input field to the datatables dom
    initDateRangeHtml()
    initDateRange("#id_daterange").on('apply.daterangepicker', function(e, picker){
        from_pd = picker.startDate.format('YYYY-MM-DD');
        to_pd = picker.endDate.format('YYYY-MM-DD');
        table.ajax.reload()
    })


})
</script>
{% endblock extra_scripts %}
