{% extends "globals/base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Location Lists
{% endblock card_title %}
<!---- END CARD TITLE -------->

<!---- BEGIN PAGE TITLE ------>
{% block page_title %}
Location Lists
{% endblock page_title %}
<!----- END PAGE TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Location List</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->


<!------------------ BEGIN PEOPLE TABLE ------------------------->
{% block table %}
<div class="table-responsive">
    <table id="location_table" class="display compact cell-border" style="width:100%">
	</table>
</div>
{% endblock table %} 
<!------------------ END PEOPLE TABLE ---------------------------->


{% block extra_scripts %}
<script>
var params=null;
let filters = localStorage.getItem('assetFilters') ? JSON.parse(localStorage.getItem('assetFilters')) : null
if(filters && filters.AssetType === 2){
	switch(filters.AssetStatus){
		case 0:
		params = {status:'WORKING'}
		break;
		case 1:
		params = {status:'MAINTENANCE'}
		break;
		case 2:
		params = {status:'STANDBY'}
		break;
		case 3:
		params = {status:'SCRAPPED'}
		break;
	}
	localStorage.clear()
}

$(document).ready(function () {
		//BEGIN DATATABLE INITIALIZATION
		var table = $('#location_table').DataTable({
			ajax:{
				url: "{{ url('activity:location') }}?action=list",
				data:function(d){
					d.params = JSON.stringify(params)
				}
			},
			columns:[
				{data: 'id', title:"ID", visible:false, defaultContent: "", className:'noVis'},
				{data: 'loccode', title: 'Code'},
				{data: 'locname', title: 'Name'},
				{data: 'parent__locname', title: 'Belongs To', defaultContent:null},
				{data: 'locstatus', title: 'Status'},
				{data: 'enable', title: 'Enable', render:function(data, type, row, meta){
					return data === true ? '<i class="bi bi-check-circle-fill text-success"></i> Active': '<i class="bi bi-x-circle-fill text-danger"></i> Inactive'				
				}
				},
				{data:'bu__bucode', title:'Site Code', visible:false},
				{data:'bu__buname', title:'Site',visible:false},
				{data:null,title:'QR Code', defaultContent: "Print", render: function(data, type, row, meta) {
                    let downloadUrl = `{{ url('activity:location') }}?action=qrdownload&code=${encodeURIComponent(row['loccode'])}&name=${row['locname']}`
                    return `<a href="${downloadUrl}" class="qr-download-link">QR Download</a>`
                }
				},
				{data:'gps',title:'GPS',visible:false,defaultContent: '<i>Not set</i>',
					render:function(data,type,row,meta){
						let coords = typeof data === 'string' && data.length>0 ? JSON.parse(data): 'NONE'
						if (coords!=='NONE'){
							let lat = coords['coordinates'][1]
							let lng = coords['coordinates'][0]
							return `<a href="https://www.google.com/maps?q=${lat},${lng}",target="_blank">${lat},${lng}</a>`
						}return coords
					}
				},
			],
			order:[[1, 'asc']],
			deferRender:true,
			lengthMenu: [250,500,750,1000],
            pageLength: 500,
            responsive:true,
			dom:`<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
			columnDefs:[
				{targets:[1,2], data: 'locname', render:function(data, type, row, meta){
					let updateUrl = "{{ url('activity:location') }}"
					return `<a href=${updateUrl}?id=${row['id']}>${data}</a>`
				}
				},
				{targets:4, data: 'locstatus',  render:function(data, type, row, meta){
					if(data === 'MAINTENANCE'){return `<span class="badge badge-danger">${data}</span>`}
					if(data === 'SCRAPPED'){return `<span class="badge badge-secondary">${data}</span>`}
					if(data === 'STANDBY'){return `<span class="badge badge-orange">${data}</span>`}
					if(data === 'WORKING'){return `<span class="badge badge-success">${data}</span>`}
				}
				},
				{targets:3, render:function(data, type, row, meta){
					return data || 'NONE'
				}
				}

			],
			createdRow:function(row, data, dataIndex){
				if(data['enable'] === false){
					$(row).addClass('disabled-record text-white')
				}
			},
			buttons:[
				{
					extend: 'searchBuilder',
					config: {
					columns: [1, 2, 3, 4, 5, 6, 7, 8, 9]
					}
				},
                dataTablesPDFConfig(
                    title = `Site: {{request.user.bu.buname}}\n Location List`,
                    columns = ':visible',
					filename = 'location_list'
                ),
                dataTablesExcelConfig(
                    title = `Site: {{request.user.bu.buname}}\n Location List`,
                    columns = ':visible',
					filename = 'location_list'
                ),
                dataTablesColumnVisibilityConfig(),
				{
					text     : `Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className: "btn btn-sm border border-primary btn-light-primary add_new_location",
					//action for add_new_button 
					action: function(e, dt, node, config){
						return location.href = "{{ url('activity:location') }}?action=form"
					}
				},
			],
		})
	});
</script>
{% endblock extra_scripts %}